<!DOCTYPE html>
<html>
<head>
  <title>User Posts</title>
</head>
<body>
    <div class="flex-column-centered w-30 ">
    <p class="recipe-name large">
       Shopping List
    </p>
    <div class="flex-spaced-between">
    <p>Amount of food items to buy:
    <%= form_with(model: @recipe, class: "recipe-form") do |form| %>
      <div class="flexs">
      <p>Total value of food needed: </p>
      
      </div>
    <% end %>
    </div>
    <div class="flex-spaced-between   ">
    <table>
    <tr>
    <th  class="headerSortUp">Food</th>
    <th>Quantity</th>
    <th>Price</th>
    </tr>
    <% @foods.reject {|food| food.user == current_user}.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.quantity %></td>
      <td><%= food.price %></td>
    </tr>
    <% end %>
  </table>
    </div>
  </body>
</html>
