<!DOCTYPE html>
<html>
<head>
  <title>User Posts</title>
</head>
  <body>
  <% @user.recipes.each do |recipe| %>
    <div class="flex-column w-30">
        <div class="flex-spaced bordered gap-3 p-1">
          <div class="flex-column-start gap-c3">
            <p class="recipe-name">
              <%= recipe.name %>
            </p>
            <%= form_with(model: @recipe, url: recipe_path(@recipe, id: recipe.id), method: :delete, data: { turbo: "false" }) do |form| %>
              <%= form.submit "delete", data: { confirm: "Are you sure you want to delete this food?" } %>
            <% end %>
          </div>
          <div class="desc-scroll">
            <div class="">
              <%= recipe.description %>
            </div>
          </div>
        </div>
        </div>
      <% end %>

  </body>
</html>
